
#search-entry {
	color: white;
	background-color: rgba(0,0,0,0.5);
	/*background-color: black;*/
}

#listbox {
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.shortcut-label {
	color: grey;
}

.name-label {
	color:white;
	/*TODO*/
}
